%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}


._icon-arrow:before {
	content: "\e900";
 }
 ._icon-arrow-long:before {
	content: "\e901";
 }
 ._icon-bathroom:before {
	content: "\e902";
 }
 ._icon-bed:before {
	content: "\e903";
 }
 ._icon-chair:before {
	content: "\e904";
 }
 ._icon-facebook:before {
	content: "\e905";
 }
 ._icon-foundation:before {
	content: "\e906";
 }
 ._icon-icon-anonym:before {
	content: "\e907";
 }
 ._icon-icon-euro:before {
	content: "\e908";
 }
 ._icon-icon-percent:before {
	content: "\e909";
 }
 ._icon-icons-stocks:before {
	content: "\e90a";
 }
 ._icon-icon-tax:before {
	content: "\e90b";
 }
 ._icon-instagram:before {
	content: "\e90c";
 }
 ._icon-linkedin:before {
	content: "\e90d";
 }
 ._icon-location:before {
	content: "\e90e";
 }
 ._icon-room:before {
	content: "\e90f";
 }
 ._icon-star:before {
	content: "\e910";
 }
 ._icon-star-empty:before {
	content: "\e911";
 }
 ._icon-twitter:before {
	content: "\e912";
 }
 