// Заголовки, загальні БЕМ блоки та інше...
.suptitle {
	// .suptitle--orange
	&--orange {
		font-size: rem(14);
		line-height: 1.2;
		letter-spacing: rem(2);
		text-transform: uppercase;
		color: $suptitleColor;
		margin-bottom: rem(-5);
	}
}
.title {
	// .title--section
	&--section {
		color: $titleTextColor;
	}
}
.subtitle {
	font-size: rem(18);
	line-height: 1.2;
	text-align: center;
	color: $subtitleColor;
}
