// Заголовки, загальні БЕМ блоки та інше...
a {
	&:focus {
		outline: none;
		color: $suptitleColor;
		text-shadow: 1px 1px 2px $suptitleColor;
	}
}
/*
&:focus {
	outline: 1px solid $suptitleColor;
	box-shadow: 2px 2px 6px #ff8a63;
	text-shadow: 1px 1px 2px none;
	color: auto;
}
*/
/*
<div class="XXXXXX__row-title title-row">
<h3 class="title-row__suptitle suptitle suptitle--orange"></h3>
<h2 class="title-row__title title title--section"></h2>
<p class="title-row__subtitle subtitle"></p>
</div>
*/
.title-row {
}
.suptitle {
	// .suptitle--orange
	&--orange {
		font-size: rem(14);
		line-height: 1.2;
		letter-spacing: rem(2);
		text-transform: uppercase;
		color: $suptitleColor;
		margin-bottom: rem(-5);
	}
}
.title {
	// .title--section
	&--section {
		color: $titleTextColor;
	}
}
.subtitle {
	font-size: rem(18);
	line-height: 1.2;
	color: $subtitleColor;
}

/*
<div class="XXXXX__wrapper-more look-more">
						<a class="opportunities__more look-more__link _icon-arrow-long" href="#">pozriet viac ponuk </a>
					</div>
*/
.look-more {
	text-align: center;
	//.look-more__link
	&__link {
		display: inline-flex;
		align-items: center;
		flex-direction: row-reverse;
		gap: rem(10);
		font-size: rem(15);
		transition: all 0.3s ease 0s;
		&::before {
			font-size: rem(11);
		}
		@media (any-hover: hover) {
			&:hover {
				color: $suptitleColor;
			}
		}
	}
}
