// Заголовки, загальні БЕМ блоки та інше...

/*
<div class="XXXXXX__row-title title-row">
<h3 class="title-row__suptitle suptitle suptitle--orange"></h3>
<h2 class="title-row__title title title--section"></h2>
<p class="title-row__subtitle subtitle"></p>
</div>
*/
.title-row {
}
.suptitle {
	// .suptitle--orange
	&--orange {
		font-size: rem(14);
		line-height: 1.2;
		letter-spacing: rem(2);
		text-transform: uppercase;
		color: $suptitleColor;
		margin-bottom: rem(-5);
	}
}
.title {
	// .title--section
	&--section {
		color: $titleTextColor;
	}
}
.subtitle {
	font-size: rem(18);
	line-height: 1.2;
	
	color: $subtitleColor;
}
